@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .checking {
    border-color: aqua;
  }

  .details {
    @apply m-auto mb-11 w-[80%] rounded-lg border-b-2  border-blue-700 bg-transparent p-2 text-[1.5rem] font-semibold italic text-white outline-none sm:w-[60%];
  }

  body {
    min-width: 400px;
  }

  html {
    font-size: 62.5%;
  }

  .larges {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.small {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  -webkit-tap-highlight-color: transparent;
}
